@charset "UTF-8";
caption {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
    margin-bottom: 5px;
    color: #333;
}
body {
	font-size:9pt;
}
a {
	text-decoration:none;
}
button{
	font-size:9pt;
}
table {
	width:600px;
	border-collapse:collapse;
}
th, td {
	border:1px solid #cccccc;
	padding:3px;
	line-height:2;
}
div {
	width:600px;
}

input{
	width:200px;
}
.input1 {
	width:98%;
}
.textarea {
	width:98%;
	height:70px;
}
.div1 {
	width:600px;
	text-align:center;
	font-size:15pt;
	margin-bottom:10px;
	font-weight: bold;
}
.div2 {
	text-align:left;
	font-size:9pt;
}
.page {
	margin-top:5px;
	text-align:center;
}
.div_button {
	width:600px;
	text-align:center;
	margin-top:5px;
}
